.header{
	height: 160px;
	padding-top:20px;
}

.header .top-wrapper{
	position:relative;
}

.header .top-wrapper .back-wrapper{
	width: 50px;
	height:31px;
	position: absolute;
	/*background: red;*/
	left: 0;
	top: 0;
	text-align: center;
	line-height: 31px;
}
/*需要有这个，上面的居中才有效*/
.header .top-wrapper .back-wrapper span{
	display: inline-block;
	color: white;
}


.header .top-wrapper .search-wrapper{
	width: 100%;
	height: 31px;
	/*position: absolute;*/
	/*background: purple;*/
	padding: 0 104px 0 50px;

	/*设置盒子从边框开始计算*/
	/*为了和下边的search-bar中的border配合*/
	box-sizing: border-box;

}

.header .top-wrapper .search-wrapper .search-icon{
	width: 28px;
	height: 31px;
	background: url(../../../resource/img/titans_h5_search@2x.png) no-repeat center;
	background-size: 13px 13px;
	position: absolute;
}

.header .top-wrapper .search-wrapper .search-bar{
	width: 100%;
	height: 31px;
	border: 0;
	/*设置盒子从边框开始计算*/
	box-sizing: border-box;
	background: #cdcdcc;
	border-radius: 25px;
	padding-left: 28px;
	/*去除选中时的蓝色边框*/
	outline: none;
}

.header .top-wrapper .more-wrapper{
	width: 65px;
	height: 24px;
	/*background: blue;*/
	position: absolute;
	right: 0;
	top:0;
	padding: 7px 15px 0 24px;
} 

.header .top-wrapper .more-wrapper .spelling-bt{
	width: 30px;
	height: 17px;
	color: white;
	line-height: 17px;
	border: 1px solid white;
	text-align: center;
	float: left;
	text-decoration: none;
	font-size: 10px;
}

.header .top-wrapper .more-wrapper .more-bt{
	width: 20px;
	float: right;
	height: 24px;
	margin-left: 13px;
	margin-top: 6px;
}

.header .top-wrapper .more-wrapper .s-radius{
	width: 3px;
	height: 3px;
	border-radius: 50%;
	border: 1px solid white;
	display: block;
	float: left;
	margin-right: 1px;
}


/*主体内容*/
.content-wrapper{
	padding: 17px 10px 11px;
	height: 50px;
}
.content-wrapper .icon{
	width: 50px;
	height: 50px;
	background-size: 135% 100%;
	background-position: center;
}


/*背景*/
.header .bg-wrapper{
	width: 100%;
	height: 150px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	background-size: 100% 135%;
	/*偏移位置*/
	background-position: center -12px;
}



